aioconsole==0.1.15
aiodns==2.0.0
aiohttp==3.6.2
aiozmq==0.7.1
apply-defaults==0.1.4
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
brotlipy==0.7.0
cchardet==2.1.5
certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
chili-pad @ git+https://github.com/sanielfishawy/chili_pad@cce5cd52c544c09d29653a9bc72523dfdf20c638
cycler==0.10.0
idna==2.8
importlib-metadata==1.4.0
isort==4.3.21
json-rpc==1.13.0
jsonrpcserver==4.1.2
jsonschema==3.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
more-itertools==8.1.0
multidict==4.7.4
numpy==1.18.1
pycares==3.1.1
pycparser==2.19
pylint==2.4.4
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
PyYAML==5.3.1
pyzmq==18.1.1
requests==2.22.0
rope==0.16.0
RPi.bme280==0.2.3
RPi.GPIO==0.7.0
RPIO==0.10.0
simple-pid==0.2.4
six==1.13.0
smbus2==0.3.0
typed-ast==1.4.0
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
yarl==1.4.2
zipp==1.0.0
